.selectCardImg {
    width: 17vw;
    height:17vw;
    border-radius: 10px;
}

.selectButton {
    background-color: rgb(206, 204, 204);
    border-radius: 10px;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.selectButton:hover {
    background-color: grey;
}