.homeButtonContainer {
    position: absolute;
    top: 2px; /* Abstand vom oberen Rand */
    left: 3px; /* Abstand vom rechten Rand */
    
  }
  
.homeButton {
    background: #2874a7;
    padding: 10px 10px; /* Innenabstand des Buttons */
    display: flex;
    align-items: center;
    cursor: pointer;
}

.homeButton:hover {
    background: #7fb9cf;
}
  
.homeIcon {
    width: 28.5px; /* Breite des Icons */
    height: 28.5px; /* Höhe des Icons */
    transform: scale(1.5); /* Skalieren des Icons */
}
  