.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 5px solid black;
    width: 450px;
    max-width: 100%;
    text-align: center;
    color: black;
}

.message {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 1.0em;
    font-weight: bold;
    color: black;   
}

.playerWithBorder {
    border: 2px solid white; /* Weiße Umrandung */
    border-radius: 10px; /* Optional: Runde Ecken */
}

.name {
    color: #FFD700;
}