.accountDiv {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px; 
}

.container {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 148px;
    width: 350px;
}

.heading {
    color: black;
    font-size: 25px;
    text-align: center;
}

.infoRowContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.infoRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.infoRow strong {
    width: 30%;
    font-size: 20px;
}

.infoRow span {
    width: 75%;
    text-align: left;
    font-size: 20px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 20px;
}

.button {
    margin-bottom: 10px;
    padding: 10px 20px;
    width: 230px;
    height: 59px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #218838;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.friendPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}

.friendList {
    max-height: 400px;
    max-width: 250px;
    overflow-y: auto;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
}

.friendList::-webkit-scrollbar {
    width: 8px;
}

.friendList::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

.closeButton {
    margin-top: 10px;
    padding: 10px 20px;
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.closeButton:hover {
    background-color: #c82333;
}

.blurBackground {
    filter: blur(5px);
}
