
.userInfo {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}


.friendList {
    padding-top: 100px;
    margin: 0 auto;
    text-align: center;
}
p {
    font-size: 20px;
}

