.cardsGridContainer {
    display: flex;
    gap: 20px;
    padding: 20px;
    max-width: 1600px;
    margin: 0 auto;
    justify-items: center; /* Center items horizontally */
}

.cardsGridContainer img {
    max-width: 100%;;
    height: auto;
}

.grayImg {
    filter: grayscale(100%);
}

.h1 {
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 230, 0);
    text-align: center;
    text-shadow: 
    2px 2px 0 black,
    -2px -2px 0 black,
    -2px 2px 0 black,
    2px -2px 0 black,
    2px 0 0 black,
    -2px 0 0 black,
    0 2px 0 black,
    0 -2px 0 black;
    margin-bottom: 50px;
}

.backgroundContainer {
    background-image: url('../../assets/cloudsBlurry.jpg'); /* Pfad zum Hintergrundbild */
    background-size: cover; /* Bild wird so skaliert, dass der gesamte Container abgedeckt wird */
    background-position: center; /* Bild wird in der Mitte des Containers zentriert */
    background-repeat: no-repeat; /* Bild wird nicht wiederholt */
    width: 100vw; /* Breite des Containers */
    height: 100vh; /* Höhe des Containers */
}