.cardsGridContainer {
    display: flex;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: center;
}

.selectCard {
    width: 300px;
    height: 400px;
    overflow: auto;
    max-width: 100%;
}

.selectCard .content {
    padding: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.accountButtonContainer {
    position: fixed;
    top: 30px;
    right: 30px;
}

.accountIcon {
    width: 1.5vw;
    height: 3vh;
    padding-left: 2vw;
}

.h1 {
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 230, 0);
    text-align: center;
    text-shadow: 
    2px 2px 0 black,
    -2px -2px 0 black,
    -2px 2px 0 black,
    2px -2px 0 black,
    2px 0 0 black,
    -2px 0 0 black,
    0 2px 0 black,
    0 -2px 0 black;
    margin-top: 90px;
    margin-bottom: -15px;
}

.backgroundContainer {
    background-image: url('../../assets/cloudsBlurry.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 98.9vh;
    padding-top: 10px;
}

.buttonBar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 557px;
    height: 37px;
    z-index: 10;
}
