.selectCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 15px;
}

.buttonText {
    margin-bottom: 10px;
}

.selectCardImg {
    width: 100%;
    border: 4px solid black;
    border-radius: 5px; 
}

.selectButton {
    width: 330px;
    height: 330px;
    background-color: hsl(212, 55%, 54%);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.selectButton:hover {
    background-color: gold;
}

.infoContainer {
    margin-top: 10px;
}

.infoButton {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
