* {
  box-sizing: border-box;
}

.loginContainer {
  border: 3px solid white;
  padding: 20px;
  border-radius: 12px;
}


.loginFormDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 130px;
  padding-bottom: 20px;
}

.loginFormDiv label {
  width: 150px; /* Feste Breite für die Labels */
  font-weight: bold;
}

.loginFormDiv input,
.loginFormDiv select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.loginFormDiv input:focus,
.loginFormDiv select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none; /* Entferne die Standard-Kontur */
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.loginFormDiv select {
  width: calc(100% - 20px); /* Setze die Breite auf 100% der verfügbaren Breite abzüglich des Seitenumrands */
  margin: 0 auto;
}