.background {
  position: relative; /* Set position relative for the parent container */
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center bottom;

}


.startDiv {
  position: absolute; /* Set position absolute for the .startDiv */
  top: 50%; /* Position from the top */
  left: 50%; /* Position from the left */
  transform: translate(-50%, -50%); /* Center the element */
  background-color: rgb(27, 27, 27); /* Change the background color */
  padding: 20px; /* Add padding as needed */
  box-sizing: border-box;
  border-radius: 20px; /* Add border radius */
}
