.backgroundImage {
    background-image: url('../../assets/cloudsBlurry.jpg');
    background-size: cover; /* This makes the background cover the entire area */
    background-position: center; /* This centers the background image */
    background-repeat: no-repeat; /* This prevents the background image from repeating */
    height: 100vh; /* Ensures the background covers the full viewport height */
    width: 100vw; /* Ensures the background covers the full viewport width */
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center child elements horizontally */
    align-items: center; /* Center child elements vertically */
}

.centeredContainer {
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    align-items: center; /* Center items horizontally */
    max-width: 80%; /* Limit the width for better responsiveness */
}
.infoText {
    color: rgb(78, 78, 78); /* Text color */
    margin-bottom: 20px; /* Spacing */
}
.text {
    padding: 10px 20px; /* Padding */
    background-color: white;
    text-align: center; /* Center text horizontally */
    color: rgb(54, 54, 54); /* Text color */
    margin-bottom: 20px; /* Spacing */
    border-radius: 18px;
    
}

.motivationText {
    font-size: 18px; /* Font size */
    margin-bottom: 20px; /* Spacing */
    color: rgb(54, 54, 54);
}

.fillInTheBlanksDiv {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    background: rgb(255, 255, 255); /* Semi-transparent background */
    color: black;
    padding: 20px; /* Padding */
    border-radius: 18px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for better visual */
    margin-top: 20px; /* Top margin */
}
