.accountButtonContainer {
    position: absolute;
    top: 10px; /* Abstand vom oberen Rand */
    right: 10px; /* Abstand vom rechten Rand */
    border: 1px solid white;
}

.accountButton {
    background: #2874a7;
    color: white;
    font-size: 25px; /* Schriftgröße des Buttons */
    padding: 10px 10px; /* Innenabstand des Buttons */
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 
    1px 1px 0 black,
    -1px -1px 0 black,
    -1px 1px 0 black,
    1px -1px 0 black,
    1px 0 0 black,
    -1px 0 0 black,
    0 1px 0 black,
    0 -1px 0 black;
}

.accountButton:hover {
    background: #7fb9cf;
}

.accountIcon {
    width: 25px; /* Breite des Icons */
    height: 25px; /* Höhe des Icons */
    margin-left: 5px; /* Abstand zwischen Text und Icon */
}
  