.buyPremiumContainer {
    position: absolute;
    top: 2px;
    left: 289px;
}
  
.buyPremiumButton {
    border-radius: 10px;
    background: white;
    color: black;
    font-size: 25px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.buyPremiumButton:hover {
    background: #f3bfbf;
}