.exerciseCardDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    padding: 0px;
    border: 3px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 80px;
    border-radius: 15px;
    cursor: pointer;
}

.exerciseCardDiv:hover {
    background-color: rgb(52, 51, 51);
}

.exerciseName{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.status{
    font-size: 16px;
    margin: 0;
}

.finished {
    color: hsl(120, 70%, 60%);
}

.unfinished {
    color: hsl(0, 100%, 50%);
}
