/* index.css */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: rgb(27, 27, 27);
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Content is always centered vertically and horizontally */
body, #root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
 
h1 {
  color: white;
}

h2 {
  color: white;
}

label {
  color: white;
}

a {
  color: white;
}
  
p {
  color: white;
}
