.container {
  width: 700px;
  margin: 20px auto;
  padding: 20px;
  border: 5px solid rgb(0, 247, 255);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.questionBox {
  width: 685px;
  padding: 5px;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 5px;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}

.answerOption {
  margin-bottom: 10px;
  color: black;
  font-size: 20px;
}

.answerOption input {
  margin-right: 10px;
}

.timer {
  display: flex;
  align-items: center;
  background: white;
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 22px;
  width: 220px;
}

.timer .seconds {
  color: inherit; /* inherits color from .timer */
  width: 25px; /* Fix the width to prevent layout shift */
  display: inline-block; /* Ensure it takes the fixed width */
  text-align: center; /* Center align the text */
}

.timer .seconds.red {
  color: #ff0000;
}

.buttonRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  margin-top: 20px;
  color: black;
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.p {
  color: black;
  font-size: 22px;
}

.backgroundContainer {
  background-image: url('../../assets/codeBattleIngame.png'); /* Pfad zum Hintergrundbild */
  background-size: cover; /* Bild wird so skaliert, dass der gesamte Container abgedeckt wird */
  background-position: center; /* Bild wird in der Mitte des Containers zentriert */
  background-repeat: no-repeat; /* Bild wird nicht wiederholt */
  width: 100vw; /* Breite des Containers */
  height: 98.9vh; /* Höhe des Containers */
  padding-top: 10px; /* Add padding to push content below the button bar */
}