.exercisesDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 3px;
    border-radius: 10px;
    border : 3px solid white;   
    padding: 5px
}

.exerciseList {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 15px; /* Abstand zum rechten Rand vergrößern */
    padding-left: 15px; /* Abstand zum linken Rand vergrößern */
    scrollbar-width: auto;
    scrollbar-color: hsla(0, 0%, 3%, 0.5) hsl(0, 10%, 90%);
    scroll-padding-block-start: 125%;
}

.exercisesHeader {
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.searchInput {
    font-size: 20px;
    margin: 10px;
    border-radius: 8px;
}

input {
    font-size: 20px;
    margin: 10px;
    border-radius: 8px;
}
