

.manipulationText{
    color: rgb(41, 41, 41);
}

.runButton {
    display: block;
    margin-left: auto;
    background-color: #ffffff;
    color: rgb(44, 44, 44);
    padding: 10px 20px;
    margin: 20px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    font-size: 1.8rem;
}

.runButton:hover {
    background-color: #fd4564;
}

.editor {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}



.backgroundImage {
    background-image: url('../../assets/clouds.jpg');
    background-size: cover; /* This makes the background cover the entire area */
    background-position: center; /* This centers the background image */
    background-repeat: no-repeat; /* This prevents the background image from repeating */
    height: 100vh; /* Ensures the background covers the full viewport height */
    width: 100vw; /* Ensures the background covers the full viewport width */
}

.whiteBackground {
    background-color: white;
    border-radius: 18px; /* Optional: adds rounded corners */
    
    width: 70%;
    height: 85%;
    margin: 0 auto; /* Add this line to center the element horizontally */
    display: flex; /* Add this line to enable flexbox */
    flex-direction: column; /* Add this line to center the content vertically */
    justify-content: center;
    align-items: center;
}

.infoText {
    color: rgb(78, 78, 78);
}

.footer {
    background-image: linear-gradient(to right, #2bc5b898, #f04e5b);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    color: white;
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    padding: 5px;
}

/* For the AceEditor */
.disabledEditor {
    background-color: #f2f2f2; /* Light gray background */
    color: #b0b0b0; /* Light gray text */
    pointer-events: none; /* Disable pointer events */
    opacity: 0.6; /* Reduced opacity */
  }
  
  /* For the Submit Button */
  .disabledButton {
    background-color: #d3d3d3; /* Light gray background */
    color: #a0a0a0; /* Light gray text */
    cursor: not-allowed; /* Show disabled cursor */
    opacity: 0.6; /* Reduced opacity */
  }
  