.submitButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-size: 20px;
  }
  
.submitButton:hover {
    background-color: #218838;
}
  
.submitButton:disabled {
    background-color: #cccccc; /* ausgegraute Farbe */
    cursor: not-allowed;
}