.slideContainer {
    text-align: left;
}

.image {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 10px;
}

.textContainer {
    background-color: #132e63;
    border: 2px solid gold;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 17px;
}

.navigationDots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active {
    background-color: red;
}
